<body>

<h1>Add cards</h1>
	
<form action="{% url 'type4:admin_update' %}" method="post">
	{% csrf_token %}
	<label>Inclusion status:</label>
	<select name="status">
		{% for status_choice in status_set %}
		<option value="{{ status_choice.id }}">{{ status_choice.name }}</option>
		{% endfor %}
	</select>
	
	{% for flag in flag_set %}
	<br/>
	<label>{{flag}}</label>
	<select name="{{flag}}">
		<option value="None">-</option>
		<option value="True">True</option>
		<option value="False">False</option>
	</select>
	{% endfor %}
	
	<h3>Paste card names here</h3>
	<textarea name="card_names"></textarea>
	
	<br />
	<input type="submit" value="Submit" />
</form>
	
</body>