{% extends "type4/base.html" %}

{% block title %}
	{{block.super}} - Full List
{% endblock %}

{% block content %}

{% include "type4/_mastertoggle.html" %}

{% include "type4/_cardlist.html" with title='Current list' show_art=show_art card_names=in_names only %}

{% include "type4/_cardlist.html" with title='Cards I want to add' show_art=show_art card_names=want_names only %}

{% include "type4/_cardlist.html" with title='Cards that have been cut' show_art=show_art card_names=removed_names only %}

{% include "type4/_cardlist.html" with title='Cards that would never work' show_art=show_art card_names=rejected_names only %}
	
{% endblock %}