<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Type 4{% endblock %}</title>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'type4/style.css' %}" />
    <script src="{% static 'type4/cardlist.js' %}"></script>
	
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <script type="text/javascript">		
			$(document).on("ready", init_cardlist);		
	</script>
	<script src="{% static 'type4/gatherer_helper.js' %}"></script>
	<script src="{% static 'type4/autocard.js' %}"></script>
</body>
</html>