body {
	background-color: #C1CCC0;
	background-image: url('marble.jpg');
	color: white;
}
a {
	color: white;
}
button {
	color: black;
}
input {
	color: black;
}
.cardlist .data {
	display: none;
}
.cardimage {
	width: 300px;
}
.columned {
	-moz-column-width: 300px;
	-webkit-column-width: 300px;
}